force-app/main/default/flows/NTT_Office_Trivia_Contest_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Evaluate_Trivia_Answers</name>
        <label>Evaluate Trivia Answers</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <actionName>NTTOfficeTriviaEvaluateAnswers</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display_Results</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>chatGPTCount</name>
            <value>
                <elementReference>triviaAnswersCollection.chatGPTCount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triviaAnswers</name>
            <value>
                <elementReference>triviaAnswersCollection.triviaAnswers</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triviaSessionKey</name>
            <value>
                <elementReference>triviaAnswersCollection.triviaSessionKey</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>triviaFeedback</assignToReference>
            <name>feedback</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>triviaScore</assignToReference>
            <name>score</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Get_Trivia_Questions_Coll</name>
        <label>Get Trivia Questions Collection</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <actionName>NTTOfficeTriviaGetQuestions</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_through_trivia_questions</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>isTestRun</name>
            <value>
                <elementReference>Is_Test_Run</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>triviaQuestionsList</assignToReference>
            <name>triviaQuestions</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>triviaSessionKey</assignToReference>
            <name>triviaSessionKey</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Answer_Key</name>
        <label>Assign Answer Key</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>triviaAnswer.triviaQuestionKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_trivia_questions.questionReference</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Trivia_Answer_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Current_Trivia_Answer_To_List</name>
        <label>Assign Current Answer to Answer List</label>
        <locationX>264</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>triviaAnswersList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>triviaAnswer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_trivia_questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Prep_Collection</name>
        <label>Prepare Answer Collection for Request</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>triviaAnswersCollection.triviaAnswers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triviaAnswersList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>triviaAnswersCollection.chatGPTCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>chatGPTAttempts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>triviaAnswersCollection.triviaSessionKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>triviaSessionKey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Trivia_Answers</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>NTT Office Trivia Contest Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NTT Office Trivia Contest Process</label>
    <loops>
        <name>Loop_through_trivia_questions</name>
        <label>Loop through trivia questions</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>triviaQuestionsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Display_Trivia_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Prep_Collection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Set up a test run initially!</description>
        <name>Define_Test_Context</name>
        <label>Define Test Context</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Trivia_Questions_Coll</targetReference>
        </connector>
        <fields>
            <name>Is_Test_Run</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Is Test Run</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Results</name>
        <label>Display Results</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ShowResults</name>
            <extensionName>c:showResults</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>triviaScore</name>
                <value>
                    <elementReference>triviaScore</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>triviaFeedback</name>
                <value>
                    <elementReference>triviaFeedback</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isTestRun</name>
                <value>
                    <elementReference>Is_Test_Run</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Trivia_Question</name>
        <label>Display Trivia Question</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Answer_Key</targetReference>
        </connector>
        <fields>
            <name>ShowQuestion</name>
            <extensionName>c:showQuestion</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>chatGPTCount</name>
                <value>
                    <elementReference>chatGPTAttempts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>question</name>
                <value>
                    <elementReference>Loop_through_trivia_questions</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>chatGPTAttempts</assignToReference>
                <name>chatGPTCount</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>triviaAnswer.triviaQuestionAnswer</assignToReference>
                <name>answer</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Define_Test_Context</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>chatGPTAttempts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IsTestRun</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>triviaAnswer</name>
        <apexClass>NTTOfficeTriviaAnswer</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triviaAnswersCollection</name>
        <apexClass>NTTOfficeTriviaAnswerCollection</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triviaAnswersList</name>
        <apexClass>NTTOfficeTriviaAnswer</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triviaFeedback</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triviaQuestionsCollection</name>
        <apexClass>NTTOfficeTriviaQuestionCollection</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triviaQuestionsList</name>
        <apexClass>NTTOfficeTriviaQuestion</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>triviaScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>triviaSessionKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
